<section>
    <h2>Module 0</h2>
    <h3>Introduction</h3>


    <!-- Speaker notes -->
    <aside class="notes">
        <ul>
            <li>Why is clean code a thing?</li>
            <li>Clean mainly refers to aesthetically pleasing</li>
            <li>Clean code can speed up development time, think about merge requests</li>
        </ul>
    </aside>
</section>

<section>
    <div style="text-align: left; float: left;width: 50%;">
        <div>
            <img src="img/messy-cabinet.jpg" height="400" alt="Picture of a messy cabinet">
        </div>
    </div>
    <div style="text-align: left; float: left;width: 50%;">
        <div>
            <img src="img/clean-cabinet.jpg" height="400" alt="Picture of tidy cabinet">
        </div>
    </div>


    <!-- Speaker notes -->
    <aside class="notes">
        <ul>
            <li>Which is more pleasing?</li>
            <li>In which cabinet its more easy to find a piece of clothing (bug)</li>
        </ul>


    </aside>
</section>

<!---->
<section>
    <h3>Why is clean code important?</h3>
    <ul>
        <li class="fragment fade-in">
            <blockquote style="width: 100%;"><span style="display: block;white-space: nowrap">"There will be
                    code"</span></blockquote>
            - <span>Robert C. Martin</span>
        </li>
        <li class="fragment fade-in">
            More readers than authors.
        </li>
        <li class="fragment fade-in">
            Understandability affects the cost of change
        </li>
        <li class="fragment fade-in">
            Working in a clean environment affects your state of mind.
        </li>
    </ul>

    <!-- Speaker notes -->
    <aside class="notes">
        <ul>
            <li>
                Code will always exist. It is suggested that nobody has to write code in the future, but this has been
                posed years ago.
                The reality shows that the need for developers, and thus the production of software increases. And
                therefor, we should manage this.

                Remember that code is really the language in which we ultimately express the requirements
            </li>
            <li>
                As they added more and more features, the
                code got worse and worse until they simply could not manage it any longer. It was the bad
                code that brought the company down.

                Code has a lifecycle, it is written down, then read by others to understand it so a system can change.
                Even when that specific line is changed, it has to be read before it is changed.
                Sense making of existing code is a one of the most important prerequisites
                Of course this only refers to meaningful code, that is written to make money or make the world a better
                place.
            </li>
            <li>
                Being able to single-handed change a piece of code in a system <strong>without breaking it</strong> is
                very valuable.
                Waiting for others to change it (for example the system owner) make you wait, and thus costs time.
                Introducing a bug might me more costly.
            </li>
            <li>
                Clean spaces help you feel welcomed.
            </li>
            <li>
            </li>
        </ul>
    </aside>
</section>

<section>
    <h3>Understandability</h3>

    <p>
        "As they added more and more features, the
        code got worse and worse until they simply could not manage it any longer. It was the bad
        code that brought the company down."
    </p>

    <p>
        "Clean code - Uncle bob"
    </p>

    <aside class="notes">
        <p>
            As they added more and more features, the
            code got worse and worse until they simply could not manage it any longer. It was the bad
            code that brought the company down.
        </p>
    </aside>
</section>

<section>
    <h3>Predictability</h3>

    <p>
        For a business, it can be crucial to know the pace in which we can develop.
    </p>
    <p>
        If the code is a mess, untested, not automated, the cost of development is unpredictable.
    </p>

    <aside class="notes">
        <p>
            As they added more and more features, the
            code got worse and worse until they simply could not manage it any longer. It was the bad
            code that brought the company down.
        </p>
    </aside>
</section>

<section>
    <h3>The 'bible'</h3>
    <div style="text-align: left; float: left;width: 50%;">
        <img src="img/clean-code.jpg" width="400px">
    </div>

    <div style="text-align: center; float: right; width: 50%" class="fragment fade-in">
        <h4>Points of interest</h4>
        <ol style="font-size: 80%">
            <li>Readability</li>
            <li>Isolation of responsibility</li>
            <li>Structure/organisation</li>
            <li>No duplication</li>
            <li>Less code</li>
        </ol>
    </div>

    <!-- Speaker notes -->
    <aside class="notes">
        <p>
            Martin's book is one of the most referred literature regarding good code. 'Clean' is a well-known term in
            the industry nowadays.
            The main points from his book are the points of interests mentioned here.
            They are more or less sorted by precedence. For example, readability is more important than less code.
        </p>
        <p>
            Most of the content in this presentation is influenced by or related to that book.
        </p>
    </aside>
</section>

<section>
    <h3>Refactoring</h3>

    <div style="text-align: left; float: left;width: 50%;">
        <img src="https://martinfowler.com/books/refact2.jpg" width="400px">
    </div>

    <div style="text-align: center; float: right; width: 50%" class="fragment fade-in">
        <p> “Refactoring is the process of changing a software system in a way that does not alter the external behavior
            of the code yet improves its internal structure."</p>
    </div>
</section>

<section>
    <h2>Bottom line</h2>
    <ol>
        <li>Readability</li>
        <li>Findability</li>
    </ol>
</section>